<% provide(:title, "Home") %>
    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </p>
	<br>
	Links: 
	<br>
	<a id="btn" href="static_pages/help">Help</a> | 
	<a id="btn" href="static_pages/help">About</a> | 
	<a id="btn" href="static_pages/help">Contact</a>